body{
    font-size:1em;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,105,1,1) 75%, rgba(13,138,5,1) 100%);
}
#principal{
    color: white;
    text-align: center;
    border: 3px outset white;
    width: 400px;
    height: auto;
    box-shadow: 6px 4px 2px white;
    
    border: 3px outset white;
    border: groove 50px none;
    border-radius: 2em;

    margin: 20vh 40vw; 

}
input,select{
    margin-bottom: 20px;
    margin-top: 5px;
}
.botao{
    margin: 25px;
    color: rgba(13,138,5,1);
    border-color: rgb(236, 27, 0);
    font-weight: bold;

    text-align: center;
    width: 100px;
    margin-top: 15px;

    border-radius: 15px;
    border-color: rgb(255, 255, 255);
}
label{
    margin-right: 5px;
}
#titulo{
    margin-top: 20px;
    font-size: 1.2em;
    text-decoration: underline;
}