body{
    font-size:1em;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,105,1,1) 75%, rgba(13,138,5,1) 100%);   

}
#cabecalho{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,105,1,1) 75%, rgba(13,138,5,1) 100%);   

    padding: 10px;
}
#rodape{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,105,1,1) 75%, rgba(13,138,5,1) 100%);   

    padding: 10px;
}